.move {
	display: flex;
	width: 555px;
	height: 260px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.move:nth-child(even) {
	margin-right: 0;
}

img {
	width: 240px;
	height: 260;
}

.move__container {
	padding: 20px;
}

.title {
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 140% */
}

.raiting {
	display: flex;
	align-items: flex-end;
	font-size: 20px;
	line-height: 1;
}
.raiting__body {
	position: relative;
}
.raiting__body::before {
	content: "★★★★★★★★★★";
	color: #ebeae8;
	display: block;
}
.rating__active {
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.rating__active::before {
	content: "★★★★★★★★★★";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #ffd300;
}
.raiting__items {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.raiting__item {
	flex: 0 0 15%;
	height: 100%;
	opacity: 0;
}
.raiting__value {
	font-size: 50%;
	line-height: 1;
	padding: 0px 0px 0px 10px;
}