@import "Inter.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Inter Regular", serif;
}
.app {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  /* background-color: #dfdbdb; */
}